<ion-view title="Friends">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Elon Musk</h2>
        <p>Bossman</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://placehold.it/100x100">
        <h2>John Doe</h2>
        <p>I'm pretty boring</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Goku</h2>
        <p>Training in otherworld.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Yo</h2>
        <p>Training in otherworld.</p>
      </a>
    </div>
  </ion-content>
</ion-view>