<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">when?</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <button class="button button-full button-large button-assertive" ng-click="createTime('Today')" style="margin:0; border:none; min-height:80px;">
      <strong>TODAY</strong>
    </button>
    <button class="button button-full button-large button-energized" ng-click="createTime('Tomorrow')" style="margin:0; border:none; min-height:80px;">
      <strong>TOMORROW</strong>
    </button>
    <button class="button button-full button-large button-royal" ng-click="createTime('Tuesday')" style="margin:0; border:none; min-height:80px;">
     <strong>TUESDAY</strong>
    </button>
    <button class="button button-full button-large button-positive" ng-click="createTime('Wednesday')" style="margin:0; border:none; min-height:80px;">
      <strong>WEDNESDAY</strong>
    </button>
    <button class="button button-full button-large button-calm" ng-click="createTime('Thursday')" style="margin:0; border:none; min-height:80px;">
      <strong>THURSDAY</strong>
    </button>
    <button class="button button-full button-large button-balanced" ng-click="createTime('Friday')" style="margin:0; border:none; min-height:80px;">
      <strong>FRIDAY</strong>
    </button>
    <button class="button button-full button-large button-dark" ng-click="createTime('Saturday')" style="margin:0; border:none; min-height:80px;">
      <strong>SATURDAY</strong>
    </button>
  </ion-content>
</ion-modal-view>
