<ion-header-bar class="bar bar-subheader bar-light">
  <h2 class="title">friends using coffee</h2>
</ion-header-bar>
<ion-view title="friends">
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="friend in friends" class="item item-avatar">
        <img src="{{ friend.image }}">
        <h2>{{ friend.name }}</h2>
        <p>{{ friend.bio }}</p>
        <ion-option-button class="button-calm icon ion-pizza" ng-click="createDate('lunch', friend._id)"ng-model="eventType.lunch" style="width:60px;"></ion-option-button>
        <ion-option-button class="button-royal icon ion-beer" ng-click="createDate('drinks', friend._id)" ng-model="eventType.drinks" style="width:60px;"></ion-option-button>
        <ion-option-button class="button-balanced icon ion-coffee" ng-click="createDate('coffee', friend._id)" style="width:60px;"></ion-option-button>
        <ion-option-button class="button-energized" ng-click="removeFriend(friend._id)" style="font-weight:bold; font-size:11px;">NOT NOW</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeFriend(friend._id)" style="font-weight:bold; font-size:11px;">GET LOST</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>