<ion-header-bar class="bar bar-subheader bar-light">
  <h2 class="title">friends using coffee</h2>
</ion-header-bar>
<ion-view title="friends">
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="friend in friends" class="item item-avatar">
        <img src="{{ friend.image }}">
        <h2>{{ friend.first_name + " " + friend.last_name }}</h2>
        <p>{{ friend.bio }}</p>
        <ion-option-button class="button-calm icon ion-pizza" style="width:60px;" ng-click="createDate()"></ion-option-button>
        <ion-option-button class="button-royal icon ion-beer" ng-click="createDate()" style="width:60px;"></ion-option-button>
        <ion-option-button class="button-balanced icon ion-coffee" ng-click="createDate()" style="width:60px;"></ion-option-button>
        <ion-option-button class="button-energized icon ion-close-circled" ng-click="createDate()" style="width:60px;"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="createDate()" style="width:60px;"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>