<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">when?</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <button class="button button-full button-large button-assertive" style="margin:0; border:none; min-height:80px;">
      <strong>MORNING</strong>
    </button>
    <button class="button button-full button-large button-energized" style="margin:0; border:none; min-height:80px;">
      <strong>NOONISH</strong>
    </button>
    <button class="button button-full button-large button-royal" style="margin:0; border:none; min-height:80px;">
      <strong>AFTERNOON</strong>
    </button>
    <button class="button button-full button-large button-positive" style="margin:0; border:none; min-height:80px;">
     <strong>MIDDAY</strong>
    </button>
    <button class="button button-full button-large button-calm" style="margin:0; border:none; min-height:80px;">
      <strong>EVENING</strong>
    </button>
    <button class="button button-full button-large button-balanced" style="margin:0; border:none; min-height:80px;">
      <strong>NIGHT</strong>
    </button>
    <button class="button button-full button-large button-dark" style="margin:0; border:none; min-height:80px;">
      <strong>PARTY</strong>
    </button>
  </ion-content>
</ion-modal-view>
